:root {
  --primery-text-color: #212121;
  --second-text-color: #757575;
  --primery-title-color: #ffffff;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --primery-background-color: #ffffff;
  --background-secodery-color: #2f303a;
  --background-third-color: #f5f4fa;
  --border-color: #ececec;
  --second-border-color: #afb1b8;
}
